@import '../../utils/constants.scss';

.KycEcommerceForm {
  .section {
    animation: fadeEffect 0.5s;

    .title {
      color: $colorYellow;
      margin-bottom: 2rem;
    }

    .name-legal-representative {
      color: $colorYellow;
      text-transform: capitalize;
    }

    .paragraph,
    .check-paragraph {
      display: block;
      margin: 1rem 0;
      padding: 0.5rem 1rem;
      line-height: 1.5;
    }

    .paragraph-comment {
      display: block;
      padding-left: 2rem;
      font-size: 0.8rem;
      line-height: 1.5;
      margin-top: -1rem;
      margin-bottom: 2rem;
    }

    .check-paragraph {
      padding-left: 5rem;

      input[type='checkbox'] {
        margin-right: 1rem;
      }
    }

    .radios-group {
      label {
        margin-left: 2rem;

        input[type='radio'] {
          display: inline-block;
          margin-right: 0.25rem;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .content-item {
        width: calc(calc(100% - 100px) / 3);

        .subsection {
          padding-bottom: 0.7rem;

          &:last-child {
            padding-bottom: 0;
          }
        }

        .subtitle {
          color: $colorSecondary;
          margin-bottom: 1rem;
        }

        .row__kyc--commerce,
        .col {
          display: flex;
          flex-direction: column;

          span {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;

            &.required {
              &:after {
                content: '\2731';
                color: $colorRed;
                margin-left: 0.25rem;
              }
            }
          }
        }

        .row-group {
          display: flex;
          flex-direction: row;
        }

        .row__kyc--commerce,
        .row-group {
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 2rem;
          }

          input[type='radio'] {
            margin-left: 0.25rem;
          }

          label {
            margin-right: 2rem;
          }
        }

        .col {
          flex-grow: 1;
          margin-right: 1rem;
          &:last-child {
            margin-right: 0;
          }
        }

        .horizontal {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .centered {
          justify-content: center;
          align-items: center;
        }

        input[type='file'] {
          display: none;
        }

        .upload-section {
          span {
            width: fit-content;
            max-width: 250px;
            font-size: 0.85rem;
          }
        }

        .legal-file {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          padding-left: 1rem;

          span {
            display: inline-block;
            height: 100%;
            margin: 0;
          }

          .required {
            margin-right: 1rem;
          }

          .upload {
            width: fit-content;
            padding: 0.5rem 1rem;

            .filename:not(:empty) {
              display: inline-block;
              margin-right: 1rem;
            }
          }
        }

        label.upload {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          width: 100px;
          height: 2rem;
          margin-right: 0;
          margin-left: 0.5rem;
          border-radius: 7px;
          background-color: $colorYellow;
          color: white;//#1d1d1d;
          transition: background-color 0.25s;

          &:hover {
            background-color: darken($colorYellow, 10);
          }

          svg {
            height: 1.5rem;
          }

          path {
            fill: currentColor;
          }
        }

        .img-preview {
          height: 5rem;
          margin: 0 auto;
          object-fit: contain;
        }

        .button {
          width: 40%;
          transform: scale(1);
          transition: transform 0.25s;

          &:active {
            transform: scale(0.9);
          }
        }

        .button.cancel {
          background-color: $colorRed;

          &:hover {
            box-shadow: 0 0 0 3px rgba($colorRed, 0.4);
          }
        }
      }

      .beneficiaries {
        width: 100%;
      }
    }

    .transactions-section {
      max-width: 650px;
    }

    .table {
      width: 100%;
      margin: 2rem auto;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 10px 16px;
      border-radius: 7px;

      .header,
      .row__kyc--commerce {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        padding: 10px 0;

        span {
          display: block;
          width: calc(100% / 7);
          font-size: 0.9rem;
          text-align: center;
          margin: 0 0.5rem;
          overflow: hidden;
          word-break: break-word;
          text-overflow: ellipsis;

          &:first-child {
            text-align: left;
            margin-left: 0;
          }

          &:last-child {
            text-align: right;
            margin-right: 0;
          }
        }
      }

      .header {
        border-bottom: 2px solid $colorSecondary;
        color: $colorSecondary;

        span {
          text-transform: uppercase;
        }
      }

      .body {
        .empty {
          text-align: center;
          font-weight: 100;
          margin: 1rem;
          margin-top: 1.5rem;
        }

        .row__kyc--commerce {
          margin: 0 !important;

          span {
            justify-content: center;

            &:last-child {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }
}
