* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

/* Variables */
:root {
	--sideBarLeft: 20vw;
	--sideBarRight: 20vw;

	/* Color primary */
	--primary-light: #085585;
	--primary: #043551;
	--primary-dark: #02141f;
	--primary-gradient: #043551de;

	/* Color secondary */
	--secondary-light: #26e4f0;
	--secondary: #1fb4bd;
	--secondary-dark: #147980;
	--secondary-gradient: #1fb5bd7e;

	/* Color accent */
	--accent-light: #fac64d;
	--accent: #f9b002;
	--accent-dark: #ad7b02;

	/* Color success */
	--success-light: #;
	--success: #;
	--success-dark: #;

	/* Color info */
	--info-light: #;
	--info: #;
	--info-dark: #;

	/* Color warning */
	--warning-light: #;
	--warning: #;
	--warning-dark: #;

	/* Color danger */
	--danger-light: #;
	--danger: red;
	--danger-dark: #;

	/* Color background-light */
	--bg-light-light: #fff;
	--bg-light: #fefefe;
	--bg-light-dark: #aeaeae;

	/* Color background-dark */
	--bg-dark-light: #2e2e2e;
	--bg-dark: #0e0e0e;
	--bg-dark-dark: #000;

	/* Color text-light */
	--text-light-light: #fff;
	--text-light: #fefefe;
	--text-light-dark: #aeaeae;

	/* Color text-dark */
	--text-dark-light: #9e9e9e;
	--text-dark: #4e4e4e;
	--text-dark-dark: #0e0606;

	/* Helper colos */
	--transparent: #0000;
}

body {
	/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: 'Roboto';
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

i {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
}
