* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

/* Variables */
:root {
	--sideBarLeft: 20vw;
	--sideBarRight: 20vw;

	/* Color primary */
	--primary-light: #;
	--primary: #186491;
	--primary-dark: #;

	/* Color secondary */
	--secondary-light: #;
	--secondary: #1fb4bd;
	--secondary-dark: #;

	/* Color accent */
	--accent-light: #;
	--accent: #f9b002;
	--accent-dark: #;

	/* Color success */
	--success-light: #;
	--success: #;
	--success-dark: #;

	/* Color info */
	--info-light: #;
	--info: #;
	--info-dark: #;

	/* Color warning */
	--warning-light: #;
	--warning: #;
	--warning-dark: #;

	/* Color danger */
	--danger-light: #;
	--danger: red;
	--danger-dark: #;

	/* Color background-light */
	--background-light-light: #fff;
	--background-light: #fefefe;
	--background-light-dark: #aeaeae;

	/* Color background-dark */
	--background-dark-light: #;
	--background-dark: #;
	--background-dark-dark: #;

	/* Color text-light */
	--text-light-light: #fff;
	--text-light: #fefefe;
	--text-light-dark: #aeaeae;

	/* Color text-dark */
	--text-dark-light: #9e9e9e;
	--text-dark: #4e4e4e;
	--text-dark-dark: #0e0606;

	/* Helper colos */
	--transparent: #0000;
}

body {
	/*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-family: 'Roboto';
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

i {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: center;
}
